span{
    display: inline-block;
    text-align: justify;
}
.newline 
{
    white-space:pre-wrap;
    padding: 1rem;
}

.card-container{
    width:max-content;
    height:max-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* padding: 1rem; */
    margin: 1rem;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem;
    height: max-content;
    width: 450px;
    text-align: center;
    align-items: center;
}
.main-cont{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* align-items: stretch; */
    display: flex;
}
.post-container{
    background-color: rgb(245, 245, 220,0.6);
    margin-left:10rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    text-align: start;
    /* justify-content: center; */
    justify-content: flex-start;
    /* margin-top: 5rem; */
    padding-top: 2rem;
    min-height: 100vh;
    height: 100%;
    /* margin-top: 50vh; */

}
.title-author{
    padding: 1rem;
    letter-spacing: 2px;
}
.post-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-top: 1rem;
    padding: 1rem;
}
.postBgimg{
        object-fit: cover;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        /* position: fixed; */
        margin-top: 4rem;
        height: 80vh;
        width: 100%;
        z-index: -2;
}
.newpost-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}
.post-form{
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: flex-end;
    align-items: flex-end;
    margin:0.5rem;
}
.editor-div{
    margin:0.5rem;
    width: 90vw;
    height: 50%;
}
.readmore-btn{
    background-color: transparent;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
    text-decoration: underline;
}
.readmore-btn:hover{
    color: cornflowerblue;
}
.editPost-btn{
    background: green;
    color: white;
    padding: 3px;
    border-radius: 50%;
    margin: 1px;
    cursor: pointer;
}
.delPost-btn{
    background: #FF4742;
    color: white;
    padding: 3px;
    border-radius: 50%;
    margin: 1px;
    cursor: pointer;

}
.post-btns{
    display: flex;
    flex-direction: row;
}
.post-btns2{
    display: flex;
    flex-direction: column;
    margin: 3px;
}

.blog-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    padding: 3rem;
}

.blog-bg{
    /* background-image: url("../assets/cesar-couto-Kg2M24Pr9aU-unsplash.jpg");
    object-fit: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -2; */
    background-color: white;
}
@media screen and (min-width:1024px){
    
}
@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
 
    .postBgimg{
        height: 50vh;
    }

    .postcard-img{
        height: 400px;
        width: 400px;
    }
    .card{
        margin: 2rem;
    }
    .post-container{
        margin-left:3rem;
        margin-right: 3rem;
        margin-top: 5rem;
        padding-top: 0.5rem;
    }
 
}
/*.....small devices.... */

@media screen and (max-width:600px){

    .postBgimg{
        height: 50vh;
    }
    .post-container{
        margin-left:1rem;
        margin-right: 1rem;
        margin-top: 5rem;
        padding-top: 0.5rem;
    }
 
}