span{
    display: inline-block;
    text-align: justify;
}

.card-container{
    width:max-content;
    height:max-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 1rem;
    margin: 1rem;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem;
    height: max-content;
    width: 300px;
    text-align: center;
    align-items: center;
}

.post-container,.post-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.newpost-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.post-form{
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: flex-end;
    align-items: flex-end;
    margin:0.5rem;
}
.editor-div{
    margin:0.5rem;
    width: 90vw;
    height: 50%;
}
.readmore-btn{
    background-color: transparent;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}
.readmore-btn:hover{
    color: cornflowerblue;
}