.Login-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    min-height: 360px;
    background-color: rgba(255, 255, 255);
    padding: 1rem;
    align-items:center ;
    border-radius: 40px;
    z-index: 2;
}
.Login-container:hover{
    background-color: rgb(252, 252, 252, 0.8);

}
#login{
   color: #0F1626;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 1rem;
    margin-bottom: 1rem;
   
}

.FpLink{
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
    margin-top: 2rem;
    color:#f73d0e;
    margin-bottom: 10px;
}
.signupLink{
    cursor: pointer;
    color:#f73d0e;
    font-size: 14px;
}

@media screen and (max-width:600px){

    .Login-container{
     min-height: 220px;
    }
}