.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding:1rem;
    padding-top:6rem;
    color:#0F1626;
    padding-bottom: 4rem;
    
}
.register-content{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 40% 60%;
    padding: 1rem;
}
.reg-img{
    width: 100%;
    background-image: url("../assets/r2.jpg");
    object-fit:cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reg-desc{
    border: 10px solid #0F1626;
    width: 80%;
    height: 70%;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 22px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 169, 169,0.7);
}
.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
}


.form-box{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    
}
.sec-question{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input-error{
    color: red;
    font-size: 20px;
}
#standard-basic{
    margin-left: 1rem;
}

@media screen and (max-width:1024px){
    .reg-desc{
        height: 90%;
    }
}
/*.....small devices.... */

@media screen and (max-width:600px){
    .register-content{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .form-box{
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }
    .reg-desc{
        height: 100%;
    }
    .register-container{
        padding-bottom: 0;

    }

   
}