.FP-container{
    display: flex;
    flex-direction:column;
    width: 100vw;
    height: 100vh;
    background-color:white;
    align-items: center;
    text-align: center;
    justify-content: center;
    color:#0F1626;
    background-image: url("../assets/stripes-light.webp");
}

.FP-form{
    display:flex;
    flex-direction: column;
    width: 30vw;
    height: 60vh;
    padding: 1rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 1rem solid transparent; 
    padding: 1rem;
    box-sizing: border-box;
    border-image: url("../assets/fp.jpg") 10 round;
    border-image-slice: 5%;

}

.input-error{
    color: red;
}

@media screen and (max-width:600px){
    .FP-form{
        width: 200px;
        border: 10px solid transparent; 
        padding: 1rem;
        box-sizing: border-box;
        border-image: url("../assets/reg.jpg") 10 round repeat;
        border-radius: 15px;
        margin: 1rem;
    }
   
   
}